/*
Everyhting between the asterisks is a code comment
mgbfsykljbdvgzfszfszfszfszfszfsHAUIWdyjo
see?
 */
body{
    /*background-color: aquamarine; RRGGBB 000000 */
    background-image: url("img/Dae.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#textEnhance
{
    color: lavender;
background-image: none;
    background-color: black;
}
h4
{
    color: greenyellow;
}