button
{
    background-color: black;
    text-align: center;
    padding: 10px 15px;
    color: gray;
    border-radius: 8px;
}
button:hover
{
    background-color: lightgoldenrodyellow;
}
button:active
{
    background-color: lightgoldenrodyellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*
Button click effect and hover taken from w3schools.com
*/
input
{
    background-color: lightgoldenrodyellow;
    color: lightblue;
}
body
{
    width: 200px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}